body, html, article
   height: 100%
   width: 100%

body
   margin: 0

article
   background: #fff

header
   height: 37%
   text-align: center

   h1
      font-size: 4em

   h2
      font-size: 3em
      display: inline-block

#onOffContainer, #strictContainer
   display: inline-block
   margin: 0 10%
   width: 200px
   height: 150px

.switchbox, .strictbox
   width: 170px
   height: 100px
   background-color: black
   position: relative

input
   display: none

#onOff, #strict
   border: 1px solid black
   width: 50%
   height: 98%
   background-color: #FF0000

#onOff
   position: absolute
   top: 0
   left: 0
   right: 0
   bottom: 0
   -webkit-transition: 4s
   transition: 4s

#onOff:before
   position: absolute
   content: ""
   height: 26px
   width: 26px
   left: 4px
   bottom: 4px
   -webkit-transition: 4s
   transition: 4s

input:checked + #onoff:before
   -webkit-transition: 4s
   transition: 4s
   -webkit-transform: translateX(26px)
   -ms-transform: translateX(26px)
   transform: translateX(26px)


#stage
   h2
      display: block

#stageCount
   width: 20%
   height: 100px
   border: 1px solid black
   display: inline-block
   font-size: 80px

#number
   margin: 0

section
   height: 60%
   text-align: center
   width: 100%
   position: absolute
   bottom: 0

section 
   div
      display: block
      height: 50%
      width: 100%

.colorButtons
   display: inline-block
   width: 49%
   height: 100%
   margin: 0


div.green
   background-color: #00BB00

div.red
   background-color: #BB0000

.yellow
   background-color: #BBBB00

.blue
   background-color: #0000BB


@media (min-width: 700px)
   header
      h1
         margin: 0
         font-size: 2em

      h2
         font-size: 1em

   #onOffContainer, #strictContainer
      display: inline-block
      margin: 0 10%
      width: 200px
      height: 120px

   .switchbox, .strictbox
      width: 80px
      height: 26px
      background-color: black
      position: relative
      margin: 0 auto

   #onOff, #strict
      width: 50%
      height: 90%

      h2
         margin-top: 0
         margin-bottom: 5px

   #stageCount
      height: 32px
      width: 56px

      #number
         font-size: 30px

   #container
      height: 30%
      width: 40%
